.navbar ul {
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  border: 2px solid #2E2F2F;
  background-color: #D0E1D4;
  /* background-color: #97D8B2; */
  /* background-color: #F4796B; */
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar li{
  float: left;
  border-right: 1px solid #2E2F2F;
}

.navbar li a{
  display: block;
  color: black;
  text-align: center;
  padding: 2vh 4vw;
  text-decoration: none;
}

.navbar li a:hover{
  /* background-color: #FFC15E; */
  background-color: #F2F6D0;
}

.banner {
  height: 80vh;
  padding-top: 10vh;
  /* background-color: #437C90; */
  /* background-color: #F4796B; */
  background-color: #F2F6D0;
  /* background-color: #97D8B2; */
  /* background-color: #FFC15E; */
  border: 2px solid #2E2F2F;
  border-top: 1px solid #2E2F2F;
  border-bottom: 1px solid #2E2F2F;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 0;
  padding: 0;
}

.pfp {
  width : 25%;
  /* display: block; */
  /* margin-top: 2.5%; */
  /* margin-right: auto;
  margin-bottom: auto; */
  border-radius: 15%;
  float: left;
  margin-left: 4%;
  margin-top: 2.5%;
  border: 1px solid #2E2F2F;

  /*display : block;
  margin-left: auto;
  margin-right: auto; */
}

.introContainer {
  width: 55%;
  display: inline-block;
  font-size: 3em;
  /* font-weight: bold; */
  position: relative;
  overflow: hidden;
  padding-left: 15%;
}

.first {
  display: inline-block;
  float: left;
  color: #2E1E0F;
}

#second {
  font-weight: bold;
  display: inline-block;
  text-align: left;
  position: absolute;
  padding-left: 0.75em;
  color: #087E8B;
  animation: slide 10s infinite;
}


@keyframes slide {
  0% {
    top: 0;
  }
  10% {
    top: 0;
  }
  35% {
    top: -1.125em;
  }
  60% {
    top: -2.25em;
  }
  85% {
    top: -3.375em;
  }
  100% {
    top: 0;
  }
}


#About {
  display: inline-block;
  float: center;
  margin-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  width: 50%;
  height: 71%;
  text-align: left;
  /* padding-right: 50%; */
  /* padding-bottom: 20%; */
  /* text-align: */
  border-radius: 20px;
  background-color: #D0E1D4;
  border: 1px solid #2E2F2F;

  /* border: 2px solid #2E2F2F; */
  /* border-top: 1px solid #2E2F2F; */
  /* border-bottom: 1px solid #2E2F2F; */
}

#About > h1 {
  text-indent: 1em;
}

#About > p {
  font-size: larger;
  line-height: 1.5em;
}

#Portfolio {
  /* margin-top: 200px; */
  background-color: #437C90;
  border: 2px solid #2E2F2F;
  border-top: 1px solid #2E2F2F;
  border-bottom: 1px solid #2E2F2F;
}
